*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(240, 234, 234); 
    font-family: JosefinSans;
    font-size: 2vh;
}

@font-face {
  font-family: JosefinSans;
  src: url("fontovi/JosefinSans-BoldItalic.ttf");
}
@font-face {
  font-family: Kanit;
  src: url("fontovi/Kanit-Italic.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("fontovi/MerriweatherSans-Italic.ttf");
}
@font-face {
  font-family: Righteous;
  src: url("fontovi/Righteous-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("fontovi/Roboto-Black.ttf");
}
@font-face {
  font-family: Righteous;
  src: url("fontovi/Righteous-Regular.ttf");
}
@font-face {
  font-family: Russo;
  src: url("fontovi/RussoOne-Regular.ttf");
}
@font-face {
  font-family: TiltNeon;
  src: url("fontovi/TiltNeon-Regular.ttf");
}
@font-face {
  font-family: YuGiOh;
  src: url("fontovi/Yu-Gi-Oh! Matrix.ttf");
}

body{
    background-color: rgb(50, 48, 52);
    background-color: rgb(255, 255, 255);
}

a{
    font-size: 2.1vh;
    font-family: TiltNeon;
}

div{
    text-align: center;
}

p{
    text-align: left;
    font-size: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 12px;   
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

h3{
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 12px;   
}

h4{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;

    margin-bottom: 20px;
    display: inline-flexbox;
}

.menustrip
{
    text-align: left;
    border-bottom: 2px solid #fff;
    width: 100%;
    margin: 0 auto;
    z-index: 200;
}

.menustrip ul
{
    display: inline-flex;
    list-style: none;
}
.menustrip ul:first-child
{
    margin-left: 3.5vw;
}

.menustrip ul li
{
    width: auto;
    margin: 15px;
    padding: 15px;
    z-index: 200;
}


.menustrip ul li a
{
    color: rgb(240, 234, 234);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2.4vh;
    z-index: 200;
}

.menustrip ul li:hover
{
    background-color:rgb(0, 0, 0, 10%);
    border-radius: 4px;
}

.submenu
{
    display: none;
}

.submenu ul li
{
    background-color: transparent;
}

.menustrip ul li:hover .submenu
{
    display:block;
    position: absolute;
    background-image: linear-gradient(rgb(122, 172, 159), rgb(122, 172, 159, 90%), rgb(122, 172, 159, 80%), rgb(122, 172, 159, 10%));

    margin-top: 15px;
    margin-left: -15px;
}

.menustrip ul li:hover .submenu ul
{
    display:block;
    margin: 10px;
}

.menustrip ul li:hover .submenu ul li
{
    width: 180px;
    padding: 10px;
    border-bottom: 1px dotted whitesmoke;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}
.submenu ul li a:hover
{
    color: rgb(29, 28, 28);
}
.menustrip ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}


.submenu1
{
    display: none;
}

.hoverme:hover .submenu1
{
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-left: 170px;
    background-image: linear-gradient(rgb(122, 172, 159), rgb(122, 172, 159, 70%), rgb(122, 172, 159, 80%), rgb(122, 172, 159, 30%));
}

.submenu1 ul li a:hover
{
    color: rgb(29, 28, 28);
}

.logo{
    position:fixed;
    top: 10px;
    left: 10px;
    float: left;
    height: 8vh;
    z-index: 100;
}
.ikona{
    float: left;
    height: 23px;
    margin-right: 8px;
}

.slikaDiv{
    width: 100%;
    text-align:center; 
  /*  display: inline-block;*/
    white-space:nowrap;
    background-size:cover;
    background-repeat: no-repeat;
}

.drzacDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kutija{    
    background-color: rgba(0,0,0, 70%); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.plavoDugme
{
    margin-top: 3vh;
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
}

.plavoDugme:hover
{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}

.top-to-bottom {
    animation: 0.4s top-to-bottom forwards;
    letter-spacing: -.005em;
} 
@keyframes top-to-bottom {
from {
transform: translateY(-48px);
}
to {
transform: translateY(0);
}
}

.slikaElement{
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 100;
}

.pozadina{
    background: fixed;
}

.footer{
    border-top:  2px solid #fff;;
    width: 100%;
    text-align:center; 
    display: inline-block;
    padding-top: 30px;
}

.footerInfo{
    display:inline-block;
    width: 25%;
    margin: 20px;
    vertical-align:middle;
    opacity: 100%;
}

.footerLink{
    text-decoration: none;
    font-weight: bolder;
}

.madeBy{
    height: 6vh;
    width: 100%;
    
    position: relative;
    bottom: 0px;
    
    text-align: right;
}

.boja1{
    background: rgb(122, 172, 159);
}
.bojag1{
    background-image: linear-gradient(black,black 60%, transparent);
}
.bojag2{
    background-image: linear-gradient(transparent,black 60%, black);
}
.bojag3{
    background-image: linear-gradient(black, transparent, transparent);
}
.bojat1{
    color: rgb(255, 189, 43);
}
.bojat2{
    color: rgb(0, 0, 0);
}

.topGradient{
    background-image: linear-gradient(black, transparent);
    position:fixed; 
    top: 0; 
    height: 1vh; 
    width: 100%;
}
.bottomGradient{
    background-image: linear-gradient(transparent, black);
    position:fixed; 
    bottom: 0; 
    height: 1vh; 
    width: 100%;
}
.bojah1{
    color: rgb(191, 191, 252);
}

.slikaBanner{
    background-image: url("slike/banner-new1.png");
	
}
.slikaLogo{
    background-image: url("slike/logo-net.png");
}
.slikaLogoTekst{
    background-image: url("slike/logo-text-white.png");
}

.slikaBg1{
    background-image: url("slike/stock/desktop1.png");
}
.slikaBg2{
    background-image: url("slike/stock/office-empty.jpg");
    background-repeat: no-repeat;
}
.slikaBg3{
    background-image: url("slike/#");
}
.slika1{
    background-image: url("slike/stock/table.png");
    background-repeat: no-repeat;
    background-size: contain;
}